@import url('https://db.onlinewebfonts.com/c/000833a3a58fb083c44b9de42c2ff0a2?family=Gilroy+SemiBold');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e5e4e4 !important;
}


.navbar {
    box-shadow: none !important;
    padding: 1.5625rem !important;
    background-color: #ffffff !important;

}

.nav-item {
    padding: 0 1.35rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #4c2222;
}

.nav-link {
    color: #000000 !important;
    font-family: 'Gilroy SemiBold', sans-serif;
}

.dropdown-toggle:after {
    display: none !important;
}

#btn-1 {
    font-size: 2.5rem !important;
    border-radius: 100% !important;
    line-height: 19px !important;
    text-align: center !important;
    color: #FFFFFF !important;
    background-color: #212D63 !important;
    font-family: 'Gilroy SemiBold', sans-serif !important;
}